.Polaris-ResourceList__SpinnerContainer {
    text-align: center;
    padding: 10px;
}

.Polaris-ResourceList__HeaderTitleWrapper,
.Polaris-ResourceList-BulkActions__Popover,
.Polaris-ResourceList-BulkActions__Button,
.Polaris-ResourceList-BulkActions__PaginatedSelectAll {
    display: none;
}